body {
    margin: 0;
    padding: 0;
}

.three-container {
    width: 100%;
    height: 100vh;
    height: 100svh;
}

#location-input {
    width: 240px;
    height: 20px;
}

.input .response {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input .response li{
    width: 240px;
    height: 20px;
    padding: 3px;
}

.input .response li:hover {
    opacity: 0.95;
    transition: 100ms;
    cursor: pointer;
}

.input .response li:nth-child(2n) {
    background-color: rgb(252, 252, 252);
}

.input .response li:nth-child(2n+1) {
    background-color: rgb(248, 248, 248);
}

.temp-wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.temp-wrap span {
    padding: 16px;
    color: white;
    font-size: 28px;
    font-family: monospace;
    animation: tempFade 1s ease-in-out 100ms;
}

@keyframes tempFade {
    from {opacity: 0}
    to{opacity: 1;}
}

#temp-toggle-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
}